<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="webDM.Properties.Settings.web_DMConnectionString"
            connectionString="Data Source=.;Initial Catalog=web_DM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>